:root {
	--dark: #192425;
	--light: #fff;
	--background: #0097a7;
	--accent: #ff5722;
	--error: #ff5757;
	--borderline: #5dddf4af;
	--link: #0078FF;
	--font: 'Fredoka One', cursive;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	font-family: var(--font);
	color: var(--light);
	margin: 0;
	background-color: var(--background);
	font-family: 'Fredoka One', 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr;
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  	height: calc(var(--vh, 1vh) * 100);
	width: 800px;
	margin: 0 auto;
}

.btn {
	background-color: var(--dark);
	color: var(--light);
	width: 100%;
	height: 100%;
	text-decoration: none;
	border-radius: 2px;
	transition: color .2s, 
		box-shadow .2s, transform .1s;
	transition-timing-function: ease-out;
	font-size: 14pt;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn:hover {
	/*background-color: var(--darker);*/
	/*color: var(--accentBlue);*/
	cursor: pointer;
	box-shadow: inset 0px 0px 0px 3px var(--accent);
	/*box-shadow: 0px 0px 10px 1px var(--dark);*/
	border-radius: 2px;
	/*transform: translateY(-2px);*/
}

.btn:focus {
	outline: 0;
}

.btn:active {
	transform: scale(.97);
}
@media(max-width: 800px) {
	#root {
		width: 100%;
	}
	a:hover { 
		box-shadow: none !important;
	}
}