:root {
	--dark: #192425;
	--light: #fff;
	--background: #0097a7;
	--accent: #ff5722;
	--borderline: #5dddf4af;
	--link: #0078FF;
	--font: 'Fredoka One', cursive;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
}
body {
	font-family: var(--font);
	margin: 0;
	background-color: var(--background);
	font-family: -apple-system, BlinkMacSystemFont, 'Fredoka One', 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr;
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  	height: calc(var(--vh, 1vh) * 100);
	width: 800px;
	margin: 0 auto;
}
@media(max-width: 800px) {
	#root {
		width: 100%;
	}
}