
.joiningRoomWrapper {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-rows: 50px 300px 50px;
}

.joined {
    grid-template-rows: 300px 50px !important;
}

.joiningRoomWrapper .btnWrapper {
    display: grid;
    width: 50%;
    justify-self: center;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
}


.joinRoomInput {
    justify-self: center;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.joinRoomInput input{
	grid-column: 2;
	border: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	text-align: center;
	background-color: var(--light);
	transition: background-color .3s, border-color .3s, box-shadow .3s;
}

.joinRoomInput input:focus{
	outline: 0;
	background-color: var(--light);
	box-shadow: inset 0px 0px 0px 3px var(--accent);
}
.joinRoomInput input::placeholder {
	text-align: center;
	font-family: var(--font);
	font-size: 15pt;
	text-transform: none;
}
.joinRoomInput input:focus::placeholder{
	color: #999;
}
.joinRoomInput input[type="text"]
{
    font-size:13pt;
    font-family: var(--font);
    text-transform: uppercase;
    font-weight: normal;
}

#join {
    display: grid;
    grid-template-columns: 1fr 90px;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--light);
    border-radius: 2px;
    transition: box-shadow .3s;
    padding-left: 9px;
}
#join:focus-within {
    box-shadow: inset 0px 0px 0px 3px var(--accent)
}
#join input {
    text-align: left;
    grid-column: 1;
    height: calc(100% - 6px);
    text-transform: none;
}
#join input:focus {
    box-shadow: none;
}
#join .btn {
    width: 85%;
    height: 75%;
    margin: 5px 5px 5px auto;
    font-size: 10pt;
}
#join .btn:hover {
    box-shadow: none;
}