.wrapper {
	display: grid;
	width: 100%;
	grid-template-rows: 1fr 40px;
	overflow: hidden;
}
.header h1 {
	user-select: none;
	font-family: "Freckle Face", cursive;
	font-weight: normal;
	font-size: 8rem;
	color: white;
	text-align: center;
	margin: 0;
}
.header p {
	color: var(--light);
	text-align: center;
	margin: 0 0 15px 0;
	font-weight: 100;
}

.buzz {
	animation-name: buzz;
	animation-duration: .9s;
	animation-delay: .25s;
	animation-iteration-count: 1;
}

@keyframes buzz {
	0% {transform: rotate(0deg)}
	10% {transform: rotate(-3deg)}
	20% {transform: rotate(3deg)}
	30% {transform: rotate(-3deg)}
	40% {transform: rotate(3deg)}
	50% {transform: rotate(-3deg)}
	60% {transform: rotate(3deg)}
	100% {transform: rotate(0deg)}
}

.zoomBounce {
	animation-name: zoomBounce;
	animation-duration: .6s;
	animation-iteration-count: 1;
}

@keyframes zoomBounce {
	0% {transform: scale(1)}
	20% {transform: scale(1.1)}
	50% {transform: scale(.95)}
	80% {transform: scale(1.02)}
	100% {transform: scale(1)}
}

.input {
	position: relative;
	margin: auto;
	width: 60%;
	display: grid;
	align-items: center;
	justify-items: center;
	gap: 8px;
	grid-template-rows: 50px 45px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		"input input"
		". .";
}

.input:focus-within .header h1 {
	animation-play-state: running;
}

.input input{
	grid-area: input;
	border: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	border-radius: 2px;
	text-align: center;
	font-size: 1rem;
	background-color: var(--light);
	transition: background-color .3s, border-color .3s, box-shadow .3s;
}

.input input:focus{
	outline: 0;
	background-color: var(--light);
	box-shadow: inset 0px 0px 0px 3px var(--accent);
}
input::placeholder {
	text-align: center;
	font-family: var(--font);
	font-size: 15pt;
	text-transform: none;
}
.input input:focus::placeholder{
	color: #999;
}
input[type="text"]
{
    font-size:15pt;
    font-family: var(--font);
	text-transform: uppercase;
}

.error {
	animation: wiggle .4s ease-out 1;
}

@keyframes wiggle {
	0% {transform: translateX(0px)}
	20% {transform: translateX(5px)}
	40% {transform: translateX(-5px)}
	60% {transform: translateX(5px)}
	80% {transform: translateX(-5px)}
	100% {transform: translateX(0px)}
}

#roomCodeError{
	position: absolute;
	user-select: none;
	top: -45px;
	color: var(--error);
	font-weight: normal;
	text-align: center;
	border-radius: 4px;
	font-size: 18pt;
	padding: 4px 12px;
	opacity: 0;
	transition: opacity .3s;
	margin: 0;
}

.visible {
	animation: fadeInOut 2s ease-out 1;
}

@keyframes fadeInOut {
	0% {opacity: 0}
	15% {opacity: 1}
	90% {opacity: 1}
	100% {opacity: 0}
}
.faq {
    text-align: center;
	color: white;
	text-decoration: none;
	transition: transform .3s ease-out;
}
.faq:hover {
	transform: scale(1.1);
	text-decoration: underline;
	cursor: pointer;
}

h5 {
	display: none;
	color: white;
	font-family: arial;
	position: absolute;
	bottom: 20px;
	font-size: 25pt;
}

.zoomBounce {
	animation-name: zoomBounce;
	animation-duration: .6s;
	animation-iteration-count: 1;
}

@keyframes zoomBounce {
	0% {transform: scale(1)}
	20% {transform: scale(.9)}
	50% {transform: scale(1.05)}
	80% {transform: scale(.98)}
	100% {transform: scale(1)}
}

@keyframes roomTansIn {
	0% {transform: translatey(100px)}
	70% {transform: translatey(-5px)}
	100% {transform: translatey(0px)}
}

@media(max-width: 600px) {
	.input {
		width: 90%;
	}
	.btn:hover {
		color: var(--light);
		background-color: var(--dark);
		box-shadow: none;
	}
	.faq:hover {
		transform: none;
	}
}